@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(165 180 252);
}
@keyframes rainbowAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-rainbow {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  background-size: 1400% 100%;
  animation: rainbowAnimation 10s linear infinite;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.piano-key-wrapper {
  margin-right: 0.2rem;
  display: inline-block;
}

.sharp-key-wrapper {
  margin-top: -6rem; 
}

.piano-key {
  width: 4rem; 
  height: 10rem; 
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.8rem; 
}

.sharp-key {
  width: 2rem; 
  height: 6rem; 
  background-color: #000;
  color: #fff; 
  z-index: 1; 
  position: relative;
  margin-top: 6rem; 
}




